{% extends 'base.html.twig' %}

{% block title %}Home Welcome !{% endblock %}

{% block stylesheets %}
{{ encore_entry_link_tags('home') }}
{% endblock %}

{% block body %}
<div class="container-fluid" id="block">
    <div id="accroche">
        <div class="titre">
            <h1 >Wild Unicorn </h1> 
        </div>
        <div class="slogan">
            <p>
                Tu as envie de faire la fête ?<br>
                Tu cherches un bon plan pour le week-end ?<br> 
                Quelque soit ton style, tu es au bon endroit. Je te présente Licorne Sauvage !
            </p>        
        </div>        
    </div>
    <div class="btn">
        <a class="btn btn-outline-light" href="{{ path('accueil') }}" role="button" 
        id="btn">Entrer sur le site ! </a>  
    </div>    
    <div class="barre">
        <span></span>
    </div>  
</div>

{% block javascripts %}
{{ encore_entry_script_tags('home') }}
{% endblock %}
{% endblock %}
