// ALL
.container {
  margin-top: 90px;
}

// Header
.detail h1 {
  color: black;
  background-color: white;
  font-family: "Anton";
  padding: 15px 30px;
  text-align: center;
  max-width: 300px;
  white-space: nowrap;
}

.detail-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#date {
  font-family: "Roboto";
  background-color: #ff00ff;
  padding: 10px 20px;
  color: black;
  transform: translateX(-10px);
  text-align: right;
  position: relative;
  display: block;
  //ne prends pas le padding en compte
  box-sizing: border-box;
}

// image
img {
  max-width: 100%;
  max-height: 100%;
  margin-top: 8px;
}

.hover img {
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.hover:hover img {
  opacity: 0.5;
}

// Contenu
.content {
  color: white;
  font-family: "Roboto";

  p {
    margin: 10% 0;
    text-align: center;
  }
}

// Commentaire
.map {
  margin: 50px;
  text-align: center;
}

// Links
.link {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 25px;

  a {
    border-radius: 5px;
    background-color: #ff00ff;
    color: white;
    font-family: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
  }
  a:hover {
    color: black;
    text-decoration: none;
    background-color: white;
  }
}
