@import "~bootstrap/scss/bootstrap";




.logo {
  margin: 0px;
  overflow: hidden;
  height: 900px;
  position: relative;
  .text-effect {
    width: 100%;
    height: 100vh;
    filter: contrast(110%) brightness(190%);
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 6;
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 2%,rgba(0,0,0,0) 20%,rgba(0,0,0,0) 90%,rgba(0,0,0,1) 54%,rgba(0,0,0,1) 100%);
    margin: 0px;
  }
}
.lien {

  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,0);
  z-index: 9999;
}
// ----------------
.image-licorne {
  position: absolute;
  top: 40%;
  left: 52%;
  transform: translate(-50%, -50%) scale(1.4);
  filter: blur(1.8px);
  width: 90%;
  // height: 100%;
} 
.fond {
  background-color: black;
  height: 200px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 888888;
}



.gradient,
.spotlight {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  pointer-events: none;
  z-index: 10;  
}

.gradient {
  background: linear-gradient(120deg, red, blue);
  mix-blend-mode: multiply;
}

.spotlight {
  animation: light 5s infinite linear;
  background: 
    radial-gradient(circle, white, transparent 25%) 0 0 / 25% 25%, 
    radial-gradient(circle, white, black 25%) 50% 50% / 12.5% 12.5%;
  top: -100%; left: -100%;
  mix-blend-mode: color-dodge;
}
.fond {
  background-color: black;
}
 
@keyframes light {
  100% {
    transform: translate3d(50%, 50%, 0);
  }
}

@media only screen and (max-width: 767px) {
/* smartphone */
  .logo {
    
    &:after {
      background: linear-gradient(to top, rgba(0,0,0,1) 20%,rgba(0,0,0,1) 20%,rgba(0,0,0,0) 30%,rgba(0,0,0,0) 75%,rgba(0,0,0,1) 60%,rgba(0,0,0,1) 100%);
    }
  }
  .image-licorne {
  position: absolute;
  top: 35%;
  left: 52%;
  transform: translate(-50%, -50%) scale(1.6);
  filter: blur(1.6px);
  width: 90%;
  // height: 100%;
} 
.fond {
  background-color: black;
  height: 600px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 888888;
}

}






   


