
body {
    background-color: black;
}
.text-effect {
  overflow: hidden;
  position: relative;
  
  // on augemente les contrastes
  filter: contrast(110%) brightness(190%);
}

.neon {
  position: relative;
  
  // fonctionne uniquement sur le noir
  background: black;
  
  //text pour modifier l'apercu
  color: transparent;
  
  &::before,
  &::after {
    // ajout de 2 copie sur calque
    content: attr(data-text);
    
    // couleur blanc pour mettre des couleur dessus
    color: white;
    
    // on floute les couleur pour crer le neon
    filter: blur(0.02em);
    
    position: absolute;
    top: 0; left: 0;
    pointer-events: none;
  }
  
  // on definie la copie
  &::after {
    mix-blend-mode: difference;
  }
}

// effets sur les 2 class (copie)
.gradient,
.spotlight {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  pointer-events: none;
  z-index: 10;  
}

// Change
.gradient {
  background: linear-gradient(45deg, red, blue);
  
  // Multiply mode will paint only the white text
  mix-blend-mode: multiply;
}

.spotlight {
  animation: light 5s infinite linear;
  
  // These are the lights, color-dodge needs a black bg for optimum effect
  background: 
    radial-gradient(circle, white, transparent 25%) 0 0 / 25% 25%, 
    radial-gradient(circle, white, black 25%) 50% 50% / 12.5% 12.5%;
  top: -100%; left: -100%;
  
  // Color dodge gives the lights that shimmer effect
  mix-blend-mode: color-dodge;
}

@keyframes light {
  100% {
    transform: translate3d(50%, 50%, 0);
  }
}

//=== Pen styling, ignore

// Style text
.neon {
  font: 700 220px 'Lato', sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  
  &:focus { outline: none; border: 1px dotted white; }
}

// Center everything
body {
  background: black;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-content: center;
  align-items: center;
}