#blockmention {
  margin-top: 90px;
  background-color: white;
  padding: 20px;
}

.mention-h1 {
  font-size: 50px;
  opacity: 0.4;
  font-family: "Anton";
}

.mention-h2 {
  color: black;
  font-family: "Anton";
  margin: 35px;
  font-size: 25px;
  opacity: 0.7;
}

.mention-p {
  text-align: justify;
  opacity: 0.7;
  color: black;
}
