.container {
  margin-top: 90px;
  background: linear-gradient(
    45deg,
    rgba(118, 6, 229, 1) 0%,
    rgba(173, 12, 214, 1) 22%,
    rgba(209, 0, 198, 1) 42%,
    rgba(182, 13, 216, 1) 66%,
    rgba(114, 0, 237, 1) 100%
  );
  padding: 20px;
  box-shadow: 10px 10px 33px -13px rgba(255, 255, 255, 0.5);
}
h1 {
  font-size: 50px;
  opacity: 0.4;
  color: white;
  font-family: "Anton";
}

h2 {
  color: white;
  font-family: "Anton";
  margin: 35px;
  font-size: 25px;
  opacity: 0.7;
}

p {
  text-align: justify;
  opacity: 0.7;
}
