{% extends 'admin_base.html.twig' %}

{% block title %}Event index{% endblock %}
{% block stylesheets %}

{% endblock %}

{% block body %}
{% for event in events %}
<section class="portfolio-experiment container">
  <a>
    <div class="al">
    <span class="text">{{ event.title }}<br> - {{ event.location }} - {{ event.createdAt ? event.createdAt|date('Y-m-d H:i:s') : '' }}</span>
    <span class="line -right"></span>
    <span class="line -top"></span>
    <span class="line -left"></span>
    <span class="line -bottom"></span>
    </div>
  </a>
</section>
{% endfor %}
{% endblock %}
