@import "common.scss";

* {
  box-sizing: border-box;
  background-color: black;
}

/* Background */

body {
  background: url("../../public/img/home.jpg") no-repeat center fixed;
  background-size: cover;
  position: relative;
}

/* Texte */


